<div id="nav">
  <div class="nav-bound">
    <div class="nav-logo">
    	<a href="{% url mainpage %}">Stanford | Debate</a>
    </div>
      <div class="nav-menu">
        <ul class="sf-menu">
           <li><a href="{% url mainpage %}">Home</a></li>
           <li><a href="{% url join %}">Join</a></li>
           <li><a>Team</a>
	           <ul>
	               <li><a href="{% url roster %}">Roster</a></li>
	               <li><a href="{% url faq %}">FAQ</a></li>
	               <li><a href="{% url resources %}">Member Resources</a></li>
	           </ul>
	       </li>
           <li><a>Debate</a>
	           <ul>
	               <li><a href="{% url schedule %}">Schedule</a></li>
	               <li><a href="{% url results %}">Results</a></li>
	               <li><a href="{% url links %}">Links</a></li>
	           </ul>
           </li>
           <li><a>High School</a>
               <ul>
                   <li><a href="{{CONSTANTS.sitemap.highschoolcamp}}" target="_blank">SNFI Debate Camp</a></li>
                   <li><a href="{{CONSTANTS.sitemap.highschooltournament}}" target="_blank">Stanford Invitational Tournament</a></li>
               </ul>
           </li>
         </ul>
       </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#nav .nav-menu .sf-menu").superfish( {delay: 80} );
    });
</script>